*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  height: 100%
  overflow: auto
body
  display: table
  width: 100%
  height: 100%
  position: relative
  overflow: hidden
  .page_cover
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: url(../img/bg-default.jpg) no-repeat center center fixed
    background-size: cover
    z-index: -3
    &::after
      content: ""
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: rgba(0, 0, 0, .4)
      z-index: -2
  nav
    position: absolute
    vertical-align: center

    font-size: 100%
    color: #222
    font-weight: normal
    font-style: normal
    line-height: 1.5
    cursor: auto
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    display: block
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 56px
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.1)
    z-index: 100
    background: rgba(0, 0, 0, 0.26)
    .logo
      position: absolute
      background: url(../img/logo_only.png) no-repeat center center/cover
      top: 10px
      left: 10px
      width: 36px
      height: 36px

    ul
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      li
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        cursor: pointer
        color: #222
        font-weight: normal
        font-style: normal
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        font-size: 1rem
        line-height: 1.6
        font-family: inherit
        box-sizing: border-box
        padding: 0
        margin: 0
        list-style: none
        list-style-position: outside
        height: 48px
        width: 56px
        .title
          display: none
        &:hover
          background-color: #000000
          
        i
          font-size: 22px
          color: #ffffff

  header, main, footer
    display: table-row
    position: relative
    z-index: 3
    .container
      position: relative
      left: 56px


  main
    height: 100%
    .container
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      .left_block
         text-align: center
         border-right: 1px solid white
         margin-left: -56px
      .holder
        flex: 1 1
        overflow: hidden
        color: white
        img
          width: 100%
        section
          display: none
        .content_main
          display: block

  footer
    height: 56px
    background: transparent
    color: #ffffff
    .container
      display: flex
      flex-direction: row
      .social_icon_holder
        display: flex
        justify-content: center
        align-items: center
        width: 32px
        height: 32px
        background-color: #ffffff
        margin-left: 8px
        padding: 4px
        i
          font-size: 22px
          color: #000000

  header
    background: transparent
    color: #ffffff
    height: 56px
    text-align: left
    .container
      display: flex
      flex-direction: row
      .header_contact
        position: relative
        span:after
          content: ""
          position: absolute
          left: 0
          width: 1px
          height: 40%
          background-color: #fff

      &>a
        padding: 16px
        font-size: 18px;
        text-decoration: none
        color: #fff  
        
        &:hover
          background: rgba(0, 0, 0, 0.5)
@media screen and ( max-width: 700px )
  body
    main
      .container
        flex-direction: column
        .left_block
          border: none
          margin-left: 0
